.overlayContent{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 33%;
    height: fit-content;
    border-radius: 20px;
    background-color: #1B1222;
}
.overlayContent h1 {
    text-align: center;
    color: white;
    font-family: Inconsolata, monospace;
    display: block;
}

.overlayContent p {
    text-align: center;
    color: white;
    opacity: 50%;
    font-family: Inconsolata, monospace;
}

