/* DataField.module.css */

.container {
    width: 100%;
    display: block;
}

.dataField {
    caret-color: transparent;
    width: 100%;
    max-width: 15rem;
    height: 3rem;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
    color: rgba(255, 255, 255, 0.2);
    background-color: #0D0811;
    font-size: clamp(0.8rem, 1.5rem, 2rem);
    text-align: center;
    font-family: Inconsolata, monospace;
    padding: 0 1rem;
    box-sizing: border-box;
}

.dataField::placeholder {
    color: #FFFFFF;
    opacity: 0.2;
    font-size: clamp(0.8rem, 1.5rem, 2rem);
}

