.formContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    max-height: 100vh;
    padding: 1rem 3rem 0 3rem;
    gap: 2rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.23);
}

.formContainer form {
    display: flex;
    flex-direction: column;
    max-width: 66%;
    max-height: 33%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: transparent;
    overflow-y: scroll;
}