.formContainer {
    width: fit-content;
    height: fit-content;
    padding: 20px 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 34px;
    background-color: transparent;
}

.formContainer form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 34px;
    background-color: transparent;
}

.formContainer h2 {
    margin: 30px 0;
}