.navbar {
    font-family: Inconsolata, monospace;
    background-color: rgba(0, 0, 0, 0.23);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 114px;
}

.navbar img{
    padding: 15px;
}

.options {
    display: block;
    gap: 36px;
    align-items: center;
    padding: 56px;
}

.enabled {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding : 56px;
}

.disabled {
    color: rgba(255, 255, 255, 0.29);
    text-decoration: none;
    font-weight: bold;
    padding : 56px;
}

