.logoContainer {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    display: flex;
    margin: 0 0 5rem 0;
}

.logoContainer img {
    height: 8rem;
    display: block;
    margin: auto;
}