.logoContainer {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    display: flex;
}

.logoContainer img {
    width: 113px;
    height: 252px;
    display: block;
    font-size-adjust: 60;
}