.DeleteButton{
    display: inline;
    width: 100%;
    font-family: Inconsolata, monospace;
    font-size: 30px;
    color: #C9302C;
    align-self: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}