.staRating {
    display: flex;
    gap: 5px;
    cursor: pointer;
    font-size: 2rem;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.star {
    color: #0A060D;
    transition: color 0.2s;
}

.star.filled {
    color: #ffd700;
}
