.dropDownMenuItemContainer {
    display: flex;
    position: relative;
    height: fit-content;
    width: 100%;
    white-space: nowrap;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    font-family: Inconsolata, monospace;
    font-size: clamp(0.5rem, 1rem, 2rem);;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dropDownMenuItemContainer a, a:visited, a:hover, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.isSelected a, a:visited, a:hover, a:active{
    color: rgba(255, 255, 255, 0.23);
 }