.DropDownMenuTextButton, .DropDownMenuTextButton:visited, .DropDownMenuTextButton:active, .DropDownMenuTextButton:hover  {
    cursor: pointer;
    color: #FFFFFF;
    font-family: Inconsolata, monospace;
    font-size: clamp(0.5rem, 1rem, 2rem);;
    text-decoration: none;
}

.isSelected, .isSelected:visited, .isSelected:active, .isSelected:hover{
    cursor: default;
    color: rgba(255, 255, 255, 0.23);
    font-family: Inconsolata, monospace;
    font-size: clamp(0.5rem, 1rem, 2rem);;
    text-decoration: none;
}