.dropDownMenuItemContainer {
    display: flex;
    position: relative;
    height: 98px;
    width: 100%;
    white-space: nowrap;
    padding: 24px 0;
    margin: 0 24px;
    font-family: Inconsolata, monospace;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.dropDownMenuItemContainer a, a:visited, a:hover, a:active {
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
}

.isSelected a, a:visited, a:hover, a:active{
    color: rgba(255, 255, 255, 0.23);
 }