.navbar {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: Inconsolata, monospace;
    background-color: rgba(0, 0, 0, 0.23);
    margin: 0;
    padding: 0 32px;
}

.navbar img{
    padding: 0;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-right: #76386C 1px solid;
    height: 95px;
    padding: 0 100px 0 0;
}

.options {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: center;
    padding: 35px 100px;
}

.textOptions{
    display: flex;
    flex-direction: row;
    height: 95px;
    gap: 30px;
    padding: 0 60px;
    align-items: center;
    border-left: #76386C 1px solid;
}

.imageOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 100px;
    padding: 0 100px;
    height: 95px;
    margin: 0;
    border-left: #76386C 1px solid;
}